
*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

nav-img{
    width: 2em;
    display: inline-block;
    position: absolute;
    left: 2em;
}

.dropbtn{
    display: none;
}

strong{
    color: aqua;
    font-style: italic;
}

.nav-title{
    position: relative;
    left: 1em;
    top: 0.1rem;
    font-size: 1.7em;
    color: white;
}

.nav-brand{
    position: absolute;
    display: flex;
    width: auto;
    left: 1em;
    margin-top: 0.3em;
}

header{
    background-color: aqua;
    height: 6em;
    
}

.nav-menus{
    position: absolute;
    right: 10px; 
}

.dropdown{
    display: none;
}

li.nav-items{
    list-style: none;
    display: inline-block;
    margin-top: 1.2em;
    margin-right: 1em;
    font-size: 1.2em;
}

li>a{
    text-decoration: none;
    color: white;
}

.opening{
    width: 30%;
    margin-top: 11rem;
    text-transform: capitalize;
    z-index: 1;
    font-size: 80%;
    position: relative;
    left: 17%;
    display: inline-block;
}

.img-opening{
    width: 70%;
    position: relative;
    display: inline-block;
    right: -110%;
    top: -180px; 
    z-index: 2;
}

section{
    width: 100%;
}

footer{
    background: aqua;
    width: 99%;
    position: absolute;
    display: flex;
    padding: 10px;
}

.location{
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
}

.phone-num{
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}


@media only screen and (max-width: 600px){
    .nav-menus{
        display: none;
    }

    .dropdown{
        display: none;
        position: relative;
        top: 5.6em;
        background-color: aqua;
        width: 100%;
        z-index: 1;
    }

    .items{
        list-style-type: none;
        padding: 10px;
    }

    .dropbtn{
        text-decoration: none;
        color: rgb(0, 255, 234);
        display: inline-flex;
        position: absolute;
        right: 2.5em;
        top: 2em;
        font-size: 18px;
        border-radius: 10px;
        padding: 10px;
        background: rgb(255, 255, 255);
    }

    .dropbtn:hover{
        background-color: rgb(56, 124, 124);
    }

    a.dropbtn:hover ~.dropdown{
        display: block;
    }

    .img-opening{
        display: none;
    }

    .opening{
        text-align: center;
        margin: auto;
        font-size: 16px;
        left: 10%;
        width: 80%;
        margin-top: 100px;
        margin-bottom: 200px;
    }
}   
